*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',
  sans-serif;
}
.container{
  width: 1194px;
  margin:  auto;
}
.header{
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.auth{
  margin-left: auto;
}
.search-form{
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;/*растягивается на всю ширину  */
  position: relative;
}
.search-button{
  background-color: transparent;
  border:none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}
.search-input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px 13px 20px;
  
}
.login{
  background: #EBEBEB;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}
.shopping-cart{
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #F66A15;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  position: relative;
}
.shopping-counter{
  background-color: #FFAF19;
  color: #000;
  font-size: 8px;
  line-height: 9px;
  display: block;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.slide{
  border-radius: 20px;
  overflow: hidden/*скрыть все что за пределами  */;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  position: relative;
}
.slide-text-light{
  background-color: grey;
  color: #fff;
}
.slide-title{
  font-weight: 700;
    font-size: 50px;
    line-height: 51px;
    padding-top: 0;
    margin-bottom: 15px;
}
.slide-text{
  font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 30px;
}
.button-primary{
  background-color: #F47322;
  color: #fff;
}
.button{
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.slide-content{
  max-width: 400px;
  position: relative;
}
.slide-summer{
  background:  url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}
.promo{
  display: flex;
  justify-content:space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: -20px;
}
.card{
  flex: 50%;
  margin: 20px;
  position: relative;

  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
 max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.card:before {
  z-index: -1;
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light{
  color: #fff;
}
.card-title{
  font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description{
  font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 167px;
}
.card-price{
  font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    display: block;
    margin-bottom: 8px;
}
.card-delivery{
  font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
    display: block;
}
.button-default{
  background-color: #fff;
  color: #5F5F61;
}
.card-image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.delimery-week{
  padding: 100px 0;
}
.section-title{
  font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}
.delivery-cards{
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-card{
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  margin: 15px;
}
.delivery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag{
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    padding: 5px 10px;
}
.tag-healf{
background-color: #D0FD89;
color: #49494F;
}
.tag-weg{
  background-color: #AEBC41;
  color: #fff;
}
.tag-meat{
  background-color: #B86B78;
  color: #fff;
}
.tag-chik{
  background-color: #D68334;
  color: #fff;
}
.tag-fish{
  background-color: #CD6255;
  color: #fff;
}
.tag-child{
  background-color: #FFFDBF;
  color: #49494F;
}
.tag-parent{
  background-color: #F6FDC8;
  color: #49494F;
}
.tag-fest{
  background-color: #FEF7FE;
  color: #49494F;
}
.section-grey{
  background-color: #F6F6F6;

}
.category{
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs-content{
  display: flex;
  justify-content: space-between;
}
.tabs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}
.tabs-link{
  font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  
    color: #49494F;
    text-decoration: none;
    margin-right: 58px;
   
}
.tabs-link.active{
 color: #F37321;
}
.tabs-card{
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}
.tabs-imag{
  width: 100%;
}
.tabs-card-content{
  padding: 23px;
}
.tabs-title{
  margin-top: 0;
  margin-bottom: 13px;
 
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.tabs-description{
  font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}
.tabs-info{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}
.tabs-price{
  font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}
.tabs-weight{
  font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.button-outline{
  padding: 15px 25px;
  cursor: pointer;

  background-color: transparent;
border: 2px solid #F37321;
  border-radius: 33px;
  font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
}
.button-center{
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
  cursor: pointer;
}
.section-benefit{
  padding-top: 100px;
  padding-bottom: 200px;
}
.benefit-title-main{
  margin-top: 0;
  font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 52px;
}
.benefit-cards{
  display: flex;
  justify-content: space-between;
}
.benefit-card{
  max-width: 270px;
  padding: 23px 31px;
  border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.benefit-image{
  max-width: 60px;
  margin-bottom: 34px;
}
.benefit-title{
  font-weight: 500;
    font-size: 16px;
    line-height: 23px;
   margin-bottom: 13px;
   text-align: center;
}
.benefit-description{
  font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
      text-align: center;
}
.footer{
  padding: 40px 0;
  background-color: #F6F6F6;;
}
.footer-wrapper{
  display: flex;
  align-items: center;
}
.footer-logo{
  margin-right: 50px;
}
.footer-link{
  font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline; 
    color: #000000;
    margin-right: 50px;

}
.social-links{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link{
  margin-left: 20px;
  text-decoration: none;
}